.action-sidebar{
    .b-sidebar{
        width: 50% !important;
    }
}


@media screen and (max-width: 768px) {
    .action-sidebar{
        .b-sidebar{
            width: 100% !important;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
  }